/* CSS RESET */

/* Carregando a fonte Montserrat (exemplo com Google Fonts ou arquivos locais) */
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.woff2") format("woff2"),
    url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --primary-hover-color: #670000;
  --secondary-color: #b81515;
  --secondary-hover-color: #8f0101;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --font-family-base: "Montserrat", Arial, sans-serif;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;

  --text-link-color: #007bff;
  --text-link-hover-color: #0056b3;
}

/* Reset CSS */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
}

h1 {
  font-family: var(--font-family-base);
  font-weight: var(--title-weight);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--text-link-color);
}
