header {
  background-color: var(--background-tertiary-color);
  /* width: 100%;
  height: 138px; 
  color: #ffffff;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.menu-icon {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none;
}
