/* CSS RESET */
/* brackground,
botoes
cores de texto */


:root {
    --brackground-primary-color: #ffffff;
    --brackground-secondary-color: #f5f5f5;
    --brackground-tertiary-color: #000000;
    /* --color-text: #333333; */
    /* --color-background: #f5f5f5; */
    --font-family: 'Arial, sans-serif';

    --button-primary-color: #8f0101;
    --button-primary-hover-color: #670000;  
    --button-secondary-color: #b81515;
    --button-secondary-hover-color: #8f0101;


    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;
    /* --brackground-tertiary-color: #1fd0e0; */

    --text-link-color: #007BFF;
    --text-link-hover-color: #0056b3;




}

body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1{
    color : var(--text-primary-color);
    font-family: var(--font-family);
    font-size: 2.5rem;
    margin-bottom: 1rem;
} */